==
<a href="//dl.dropboxusercontent.com/s/6ttvbzgz64d1mb7/Midterm%20Prep.zip?dl=0"><button type="button" class="btn btn-default">Midterm Review</button></a><hr>
<table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name of Project</th>

                            <th>Lecture Notes</th>

                            <th>Powerpoint</th>

                            <th>Projects/Labs</th>

                            <th>Sample Code</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <p>MB Case Study</p>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/MBCS/MBS%20Class%20Review.doc'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/MBCS/MBS%20Class%20Review.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/MBS_Fish_of_Death_PROJECT.doc'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Java & Memory</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Java%20Memory/Lec%20Docs/'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Java%20Memory/PPT/Java%20Memory.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Java_and_memory_plus_init_proj.doc'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Java%20Memory/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Java API & AP Subset</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Java%20API.doc'|theme}}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Java%20API.ppt'|theme}}">Powerpoint</a>
                            </td>

                            <td> </td>

                            <td> </td>
                        </tr>

                        <tr>
                            <td>Advanced Classes</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Advanced%20Classes/'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Advanced%20Classes/Advanced%20Classes.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Advanced%20Classes/'|theme}}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Advanced%20Classes/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Traveling Salesman</td>

                            <td> </td>

                            <td> </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Traveling%20Salesman/'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td> </td>
                        </tr>

                        <tr>
                            <td>Generics</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Generics/Generics.doc'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Generics/Generics.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Generics%20Project.doc'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Generics/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Arrays & ArrayList</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/ArrayList/ArrayList.doc'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/ArrayList/ArrayList.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/ArrayList/'|theme}}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/ArrayList/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Elevator Series</td>

                            <td> </td>

                            <td> </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Elevator%20Series/Elevator%20Series%20Labs%202005-2006'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td> </td>
                        </tr>

                        <tr>
                            <td>Exception Handling</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Exception%20Handling/Lec%20Docs/'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Exception%20Handling/Exception%20Handling.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td> </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Exception%20Handling/'|theme}}">
                                Sample Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Algorithms</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Algorithms/Lec%20Docs/'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Algorithms/Algotithms.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Algorithms/'|theme}}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Algorithms/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Big-O</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Big-O/Big-O.doc'|theme}}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Big-O/Big-O.ppt'|theme}}">Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Big-O/'|theme}}">Projects/Labs</a>
                            </td>

                            <td> </td>
                        </tr>

                        <tr>
                            <td>Recursion</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Recursion/Recursion.doc'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Recursion/Recursion.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Recursion%20Projects.doc'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Recursion/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Linked Lists</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/LinkedLists/'|theme}}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/LinkedLists/ppt/Linked%20Lists.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Linked%20List/'|theme}}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Linked%20List/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Stacks & Queues</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Stacks%20and%20Queues/'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Stacks%20and%20Queues/ppt/Stacks%20and%20Queues.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Stacks%20and%20Queues%20Projects.doc'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Stacks%20and%20Queues/'|theme}}">
                                Sample Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Sets & Maps</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Sets%20and%20Maps/'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Sets%20and%20Maps/ppt/Sets%20and%20Maps.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Sets%20and%20Maps%20Projects.doc'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Sets%20and%20Maps/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Hashing (HashSet & HashMap)</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Hashing/'|theme}}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Hashing/ppt/Hashing.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Hashing%20---%20Projects.doc'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Hashing/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Binary Trees (BST, TreeSets & TreeMaps</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Binary%20Trees/'|theme}}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Binary%20Trees/ppt/Binary%20Trees.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Binary%20Trees/'|theme}}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Binary%20Trees/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Heaps, Priority Queues & AP Interface</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Heaps%20and%20PQs/'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Heaps%20and%20PQs/ppt/Heaps%20and%20PQs.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Heaps%20and%20PQs%20--%20Project.doc'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Heaps%20and%20PQs/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Sorts</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Sorting/'|theme}}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Sorting/ppt/Sorting.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td> </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Sorting/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Expression Trees</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Expression%20Trees/'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Expression%20Trees/ppt/Expression%20Trees.ppt'|theme}}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Class%20Projects/Expression%20Trees%20Projects.doc'|theme}}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{'assets/courses/ap/Code%20Examples/Expression%20Trees/'|theme}}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Testing & Debugging</td>

                            <td>
                                <a href="{{'assets/courses/ap/Lecture%20Documents/Testing%20and%20Debugging/Testing%20and%20Debugging.ppt'|theme}}">
                                Lecture Notes</a>
                            </td>

                            <td> </td>

                            <td> </td>

                            <td> </td>
                        </tr>
                    </tbody>
                </table>