description = "All meta links"
==
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{ this.page.meta_title }} - MHS Comp Sci
  </title>
  <link rel="icon" type="image/png" href="{{ 'assets/images/MHS-logo.gif'|theme }}" />
  

  <link rel="stylesheet" type="text/css" href="{{ [
      'assets/less/theme.less',
      'assets/css/main.css',
      'assets/css/homepage.css']
      |theme }}">

 </script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>