==
<!-- 

_____________________REGEX__________________
REMEMBER TO REPLACE SPACES (%20) IN CODE AND ON LIVE DOCS

SEARCH:     /href=([^"]*)("|')(.assets)(.*)("|')/ig
REPLACE:    href="{{\'assets/courses/compsci1$4\'|theme}}"

SITE:http://regex101.com/

_____________________________________________
-->




{% partial 'test_table'%}
<a href="{{ 'assets/courses/compsci1/LectureDocuments/MBCS/MBSClassReview.css'|theme }}">Lecture Notes</a>

<div class=""><table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name of Project</th>

                            <th>Lecture Notes</th>

                            <th>Powerpoint</th>

                            <th>Projects/Labs</th>

                            <th>Sample Code</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <p>MB Case Study</p>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/MBCS/MBSClassReview.doc'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/MBCS/MBSClassReview.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/MBS_Fish_of_Death_PROJECT.doc'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Java & Memory</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/JavaMemory/LecDocs/'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/JavaMemory/PPT/JavaMemory.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/Java_and_memory_plus_init_proj.doc'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/JavaMemory/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Java API & AP Subset</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/JavaAPI.doc'|theme }}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/JavaAPI.ppt'|theme }}">Powerpoint</a>
                            </td>

                            <td> </td>

                            <td> </td>
                        </tr>

                        <tr>
                            <td>Advanced Classes</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/AdvancedClasses/'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/AdvancedClasses/AdvancedClasses.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/AdvancedClasses/'|theme }}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/AdvancedClasses/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Traveling Salesman</td>

                            <td> </td>

                            <td> </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/TravelingSalesman/'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td> </td>
                        </tr>

                        <tr>
                            <td>Generics</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Generics/Generics.doc'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Generics/Generics.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/GenericsProject.doc'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/Generics/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Arrays & ArrayList</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/ArrayList/ArrayList.doc'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/ArrayList/ArrayList.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/ArrayList/'|theme }}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/ArrayList/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Elevator Series</td>

                            <td> </td>

                            <td> </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/ElevatorSeries/ElevatorSeriesLabs2005-2006'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td> </td>
                        </tr>

                        <tr>
                            <td>Exception Handling</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/ExceptionHandling/LecDocs/'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/ExceptionHandling/ExceptionHandling.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td> </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/ExceptionHandling/'|theme }}">
                                Sample Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Algorithms</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Algorithms/LecDocs/'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Algorithms/Algotithms.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/Algorithms/'|theme }}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/Algorithms/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Big-O</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Big-O/Big-O.doc'|theme }}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Big-O/Big-O.ppt'|theme }}">Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/Big-O/'|theme }}">Projects/Labs</a>
                            </td>

                            <td> </td>
                        </tr>

                        <tr>
                            <td>Recursion</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Recursion/Recursion.doc'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Recursion/Recursion.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/RecursionProjects.doc'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/Recursion/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Linked Lists</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/LinkedLists/'|theme }}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/LinkedLists/ppt/LinkedLists.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/LinkedList/'|theme }}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/LinkedList/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Stacks & Queues</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/StacksandQueues/'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/StacksandQueues/ppt/StacksandQueues.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/StacksandQueuesProjects.doc'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/StacksandQueues/'|theme }}">
                                Sample Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Sets & Maps</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/SetsandMaps/'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/SetsandMaps/ppt/SetsandMaps.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/SetsandMapsProjects.doc'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/SetsandMaps/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Hashing (HashSet & HashMap)</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Hashing/'|theme }}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Hashing/ppt/Hashing.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/Hashing---Projects.doc'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/Hashing/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Binary Trees (BST, TreeSets & TreeMaps</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/BinaryTrees/'|theme }}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/BinaryTrees/ppt/BinaryTrees.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/BinaryTrees/'|theme }}">Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/BinaryTrees/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Heaps, Priority Queues & AP Interface</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/HeapsandPQs/'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/HeapsandPQs/ppt/HeapsandPQs.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/HeapsandPQs--Project.doc'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/HeapsandPQs/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Sorts</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Sorting/'|theme }}">Lecture
                                Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/Sorting/ppt/Sorting.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td> </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/Sorting/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Expression Trees</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/ExpressionTrees/'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/ExpressionTrees/ppt/ExpressionTrees.ppt'|theme }}">
                                Powerpoint</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/ClassProjects/ExpressionTreesProjects.doc'|theme }}">
                                Projects/Labs</a>
                            </td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/CodeExamples/ExpressionTrees/'|theme }}">Sample
                                Code</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Testing & Debugging</td>

                            <td>
                                <a href="{{ 'assets/courses/compsci1/LectureDocuments/TestingandDebugging/TestingandDebugging.ppt'|theme }}">
                                Lecture Notes</a>
                            </td>

                            <td> </td>

                            <td> </td>

                            <td> </td>
                        </tr>
                    </tbody>
                </table>
                </div>