description = "Default layout"

[menu]
start = "id-8"
activeNode = "0"
listItemClasses = "item"
primaryClasses = "nav navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = "2"

[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"
==
<?php
/*function onStart(){
//echos navbar

echo'<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"|app }}">MHS Comp Sci</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ "/"|app }}">Home</a></li>
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/courses/compsci1"|app }}">Comp Sci 1</a></li>
            <li><a href="http://localhost:8888/russ/courses/compsci2">Comp Sci 2</a></li>
            <li><a href="http://localhost:8888/russ/courses/compsci3">Comp Sci 3</a></li>
            <li class="divider"></li>
            <li><a href="#">AP Comp Sci</a></li>
            <li class="divider"></li>
            <li><a href="#">Mr. Cosma</a></li>
          </ul>
        </li>
        <li ><a href="#">Links</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bulletin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">News</a></li>
            <li><a href="#">Hall of Fame</a></li>
            <li><a href="#">Alumni</a></li>
            
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Skills <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Robotics</a></li>
            <li><a href="#">Rails</a></li>
            <li><a href="#">Database</a></li>
            <li><a href="#">Phone Apps</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contests</a></li>
            <li><a href="#">Graphics</a></li>
          </ul>
        </li>
        <li ><a href="#">Projects</a></li>
        <li ><a href="#">About</a></li>
        <li ><a href="#">Contact</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:8888/russ/backend">Admin</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav></div>';
//////////////



}
*/
?>
==
<!DOCTYPE html>
<html>
{% partial 'meta.htm' %}
<body>
    
    {% if this.page.meta_title == "Home"%} 
        <!-- DONT SHOW PAGEINFO -->
        <div class="bg-image">
        
        {% partial 'nav.htm'%}
        {% partial 'date.htm' %}
            
        </div>
    {% else %} 
        {% partial 'nav.htm'%}
        {% partial 'pageinfo.htm'%} 
    {%endif%}

    <div class="container">
        {% page %}
    </div>
    
    <!-- Footer -->
    <footer id="layout-footer">
        {% partial "footer" %}
    </footer>
    
    <!-- Scripts -->
<script src="{{ [
            'assets/javascript/jquery.js',
            'assets/javascript/bootstrap.min.js',
            'assets/javascript/main.js',
            'assets/javascript/app.js'
            
        ]|theme }}"></script>
        
        {% framework extras %}
        {% scripts %}
</body>
</html>