==
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#cosma" role="tab" data-toggle="tab">Cosma</a></li>
  <li><a href="#farrell" role="tab" data-toggle="tab">Farrell</a></li>
  
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="cosma">
  {% partial 'compsci1/cosma' %}
    
        
                        </div>

  
  <div class="tab-pane" id="farrell">
      
      {% partial 'compsci1/farrell' %}
      
      
      
      
      
  </div>
   
 </div>
    
</div>