==
<a href="{{'assets/courses/compsci1/Cosma/Ch01 Visual Aids.ppt'|theme}}">Chapter 1</a>
<br>
<a href="{{'assets/courses/compsci1/Cosma/Ch02 Visual Aids.ppt'|theme}}">Chapter 2</a>
<br>

<a href="{{'assets/courses/compsci1/Cosma/Ch03 Visual Aids.pptx'|theme}}">Chapter 3</a>
<br>

<a href="//dl.dropboxusercontent.com/s/qljrsgv28zwl4kt/Ch04%20Visual%20Aids.pptx?dl=0">Chapter 4</a>
<br>
<a href="{{'assets/courses/compsci1/Cosma/Ch05 Visual Aids.pptx'|theme}}">Chapter 5</a>
<br>
<a href="{{'assets/courses/compsci1/Cosma/Ch06 Visual Aids.pptx'|theme}}">Chapter 6</a>
<br>
<a href="{{'assets/courses/compsci1/Cosma/Ch07 Visual Aids.pptx'|theme}}">Chapter 7</a>
<br>
<a href="{{'assets/courses/compsci1/Cosma/Ch08 Visual Aids.pptx'|theme}}">Chapter 8</a>
<br>
<a href="{{'assets/courses/compsci1/Cosma/Ch09 Visual Aids.pptx'|theme}}">Chapter 9</a>