==
<table class="table table-striped">

	<thead>



		<tr>

			<th>Topic</th>

			<th>Lecture Notes</th>

			<th>Power Points</th>

			<th>Projects & Labs</th>

			<th>Sample Code</th>



		</tr>

	</thead>

	<tbody>

		<tr>

			<td>Intro to Software</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/A An Intro to Software.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Overview.ppt'|theme}}">Download</a></td>

			<td> </td>

			<td> </td>

		</tr>

		<tr>

			<td>Professional Development</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Software Dev Lifecycle.doc'|theme}}">Download</a></td>

			<td> </td>

			<td> </td>

			<td> </td>

		</tr>

		<tr>

			<td>Introduction to VB.net</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Intro to VBNET/Intro to VBNET.doc'|theme}}">Download</a></td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Intro to VBNET/Intro to VBNET -- lab.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/Intro to vbnet.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Basic GUI Properties & Methods</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Basic GUI Properties and Methods/Basic GUI Properties and Methods.doc'|theme}}">Download</a></td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Basic GUI Properties and Methods/Basic GUI Properties and Methods.zip'|theme}}">Download</a></td>

			<td> </td>

		</tr>

		<tr>

			<td>PEMDAS & Val</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/PEMDAS and Val/PEMDAS and Val.doc'|theme}}">Download</a></td>

			<td> </td>
            <td> </td>
			<!-- <td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/PEMDAS and Val/index-2.html'|theme}}">Download</a></td> -->

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/PEMDAS and val.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Code Module</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Code Module/Code Module.doc'|theme}}">Download</a></td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Code Module/Code Module Labs.zip'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/Code Module.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Variables</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Variables/Variables.doc'|theme}}">Download</a></td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Variables/Variables_Labs.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/Variables.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>The Selection Structure</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Selection Structure/Selection Structure.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Selection Structure/Selection Structure.ppt'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Selection Structure/'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/SPACERACE.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>More Objects and User Defined Methods</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/More Objects and UDMs/'|theme}}">Download</a></td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/More Objects and UDMs/More Objects and UDMs.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/More Objects and UDMS.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Randomizing</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Randomizing/Randomizing.doc'|theme}}">Download</a></td>

			<td> </td>

			<td> </td>

			<td> </td>

		</tr>

		<tr>

			<td>Using Excel & Macros</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Using Excel/Using Excel.doc'|theme}}">Download</a></td>

			<td> </td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/Using Excel/'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Repetitive Structure</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Repetitive Structure/Repetitive Structure.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Repetitive Structure/Repetitive Structure.ppt'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Repetitive Structure/index-2.html'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/Repetitive Structure.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Linking Objects to Events</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Linking Objects To Events/Linking Objects To Events.doc'|theme}}">Download</a></td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Linking Objects To Events/Linking Objects To Events -- Grade Calculator.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/Linking Objects To Events.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Post Midterm Projects</td>

			<td> </td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Midterm/'|theme}}">Download</a></td>

			<td> </td>

		</tr>

		<tr>

			<td>String Manipulation</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/String Manipulation/String Manipulation.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/String Manipulation/String Manipulation.ppt'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/String Manipulation/index-2.html'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/String Manipulation/index-2.html'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Arrays </td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Arrays/Arrays.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Arrays/Arrays.ppt'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Arrays/index-2.html'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/Arrays.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Structures </td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Structures/Structures.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Structures/Structures.ppt'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Structures/Structure Labs.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/Structures.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Functions </td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Functions/Functions.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Functions/Functions.ppt'|theme}}">Download</a></td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/Functions.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

			<td>Traveling Salesman </td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Traveling Salesman/Traveling Salesman.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/Traveling Salesman/Traveling Salesman.ppt'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Class%20ProjectsI/Traveling Salesman/Traveling Salesman.doc'|theme}}">Download</a></td>

			<td> </td>

		</tr>

		<tr>

			<td>File I/O</td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/File IO/File IO.doc'|theme}}">Download</a></td>

			<td><a href="{{'assets/courses/compsci1/Lecture%20DocumentsI/File IO/File IO.ppt'|theme}}">Download</a></td>

			<td> </td>

			<td><a href="{{'assets/courses/compsci1/Code%20ExamplesI/File IO.zip'|theme}}">Download</a></td>

		</tr>

	</tbody>

</table>