==
<table class="table table-striped">

	<thead>



		<tr>

			<th>Topic</th>

			<th>Download</th>

			<th>Power Points</th>

			<th>Projects & Labs</th>

			<th>Sample Code</th>



		</tr>

	</thead>

	<tbody>

		<tr>

		   <td>Intro to OODevelopment</td>

		   <td ><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Intro%20to%20OO%20Dev%20&%20Terms.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Intro%20to%20OO%20Dev%20&%20Terms.ppt'|theme}}">Download</a></td>

		   <td></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Introduction%20To%20Java.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Intro to Java</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Introduction%20to%20Java.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Introduction%20to%20Java.ppt'|theme}}">Download</a></td>

		   <td></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Intro%20to%20OO%20Development%20&%20Terms.zip'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Using Net Beans IDE(Java 1.5)</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Using%20NetBeans%20IDE/'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Using%20NetBeans%20IDE/Using%20NetBeans%20IDE.ppt'|theme}}">Download</a></td>

		   <td></td>

		   <td></td>

		</tr>

		<tr>

		   <td>The Java Application</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/The%20Java%20Application.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/The%20Java%20Application.ppt'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/The%20Java%20Application%20Proj.doc'|theme}}">Download</a></td>

           <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/The%20Java%20Application/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Variables and Simple IO</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Variables%20and%20Simple%20IO.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Variables%20and%20Simple%20IO.ppt'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/Variables%20and%20Simple%20IO%20Projects.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Variables%20and%20Simple%20IO/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Arithmetic Expressions &amp; Math Class</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Arithmetic%20Expressions%20and%20Math%20Class.doc'|theme}}">DownLoad</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Arithmetic%20Expressions%20and%20Math%20Class.ppt'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/Arithmetic%20Expressions%20and%20Math%20Class%20Projects.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Arithmetic%20Expr%20and%20Math%20Class/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Conditional Expressions (IFs)</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Conditional%20Expressions%20ifs.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Conditional%20Expressions%20ifs.ppt'|theme}}">Powerpoint</a></td>

           <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/Conditional%20Expressions%20--%20ifs%20Projects.doc'|theme}}"> Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Conditional%20Expressions%20ifs/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Iterative Structures (loops)</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Iterative%20Structures%20---%20loops.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Iterative%20Structures%20---%20loops.ppt'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/Iterative%20Structures%20---%20loops%20Projects.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Iterative%20Structures%20loops/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Java Applets and Graphics</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Java%20Applets%20and%20Graphics/'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Java%20Applets%20and%20Graphics/ppt/'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/Java%20Applets%20and%20Graphics%20---%20projects.pdf'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Java%20Applets%20and%20Graphics/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>File I/O</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/File%20IO.doc'|theme}}"> Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/File%20IO.ppt'|theme}}">Download</a></td>

           <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/File%20IO/'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/File%20I%20O/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>String Class</font></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/String%20Class.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/String%20Class.ppt'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/String%20Class%20Projects.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/String%20Class/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Arrays</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Arrays.doc'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Arrays.ppt'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/Arrays/'|theme}}"> Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Arrays/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Wrapper Class</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Wrapper%20Classes%20Numeric/'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Wrapper%20Classes%20--%20Numeric.ppt'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Class%20ProjectsII/Wrapper%20Classes/'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Wrapper%20Classes%20Numeric/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>More on Java &amp; Graphics</td>

		   <td><a href="{{'assets/courses/compsci2/Lecture%20DocumentsII/Java%20Applets%20and%20Graphics.doc'|theme}}">Download</a></td>

		   <td></td>

		   <td></td>

		   <td><a href="{{'assets/courses/compsci2/Code%20ExamplesII/Graphics&Java/'|theme}}">Download</a></td>

		</tr>

		<tr>

		   <td>Additional Labs</td>

		   <td></td>

		   <td></td>

	       <td><a href="{{'assets/courses/compsci2/http://web.millburn.org/farrell/Additional%20Problem%20Bank/'|theme}}">Download</a></td>

		   <td><a href="{{'assets/courses/compsci2/http://web.millburn.org/farrell/Additional%20Problem%20Bank/'|theme}}">Download</a></td>

		</tr>

</table>